@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Shared/_Layout.cshtml";
}


<div class="jumbotron kb-home-hero">
    <div class="row">
        <div class="col-xs-12">
            <h1>@Umbraco.Field("Title")</h1>
        </div>
    </div>
</div>
    

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Umbraco.Field("Intro")
        </div>
    </div>
</div>

@{
    var currentPage = CurrentPage.AncestorsOrSelf(1).First();
    var menuItems = currentPage.Children.Where("UmbracoNaviHide == false");
}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @foreach(var item in menuItems)
            {
                <div class="col-xs-4">
                    <a href="@item.Url">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>@item.Title</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <img class="img-responsive img-rounded" src="@Umbraco.Media(item.IconImageUrl).Url" alt="@item.IconImageAltText" style="width: 100%" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">

                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

